#Ouangbao tahirousmane Ousmane matricule 18A060FS
Class compte
     Def__init__(self):
     Self.numcompteclient=" "
     Self.balance=" "
client_x = compte ()
Client_x.numcompteclient= "75777012"
Client_x.balanceclient="50dollars"
Print(client_x.numcompteclient)
Print(client_x.balanceclient)

Class comptepargne:
     def__init__(self):
        Self.nom=" "
        Self.prenom=" "
        Self compte1=" "
        Self.balance=0
     def__ajout_argent(self, montant)
        Self.balance=montant
        print ("vous avez ajouté 40euro au compte",format(montant,self.nom)
cliient_xcompte()
client_x.nom=" " 
client_x.ajouter_argent="50euro"
Print (client_x.balanceclient)
